<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.androidtown.new_chatting">





    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <!--로그인 구현 부분     -->
        <activity android:name=".LoginPackage.signIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginPackage.signUp">

        </activity>

        <activity android:name=".Chat_Activity"></activity>

        <service android:name=".Network.SocketService"
                 android:enabled="true">


        </service>
        <receiver android:name=".Other.ServiceMonitor$MonitorBR" />

        <activity android:name=".Friend.Add_Friend"></activity>



        <!--webrtc 추가해준부분-->
        <activity android:name=".webRTC.ConnectActivity"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="adjustPan">


            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="appr.tc"/>
                <data android:scheme="http" android:host="appr.tc"/>
            </intent-filter>
        </activity>

        <activity android:name=".webRTC.SettingsActivity"
                  android:label="@string/settings_name">
        </activity>

        <activity android:name=".webRTC.CallActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="fullUser"
                  android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
                  android:theme="@style/CallActivityTheme">
        </activity>

        <activity android:name=".webRTC.IsCalledReady">

        </activity>
        
        <activity android:name=".invite_friend"
            android:theme="@style/AppTheme.new_ActionBar"></activity>

        <activity android:name=".photo_view"></activity>

        <activity android:name=".video_view"></activity>
    </application>

</manifest>